/* ======================================= */
/* Form by text editor pop-up style starts */

.text-editor-click-popup {
    width: 400px;
    height: 460px;
    -webkit-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    -moz-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
}

.text-editor-popup-header-title {
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 80px;
    width: 100%;
    line-height: 80px;
}

.text-editor-popup-header-title p {
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}

.text-editor-popup-body {
    width: 100%;
    padding: 15px;
}

.text-editor-popup-footer .text-editor-button-row {
    display: table;
    margin: auto;
    /* margin-top: 10px; */
    /* margin: auto 10px; */
    /* display: flex;
  align-items: center;
  justify-content: center; */
}

.text-editor-popup-footer .text-editor-button-row .window-form,
.text-editor-popup-footer .text-editor-button-row .form-window {
    width: 180px;
    font-size: 18px;
    background: #e9e9e9;
    color: black;
    font-weight: bold;
    transition: 150ms;
    outline: none;
    border: 0 none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 10px;
    /* margin: 7px 0px; */
}

.text-editor-popup-footer .text-editor-button-row .window-form {
    margin-right: 5px;
}

.text-editor-popup-footer .text-editor-button-row .form-window {
    margin-left: 5px;
}

.text-editor-popup-footer .text-editor-button-row .window-form:hover,
.text-editor-popup-footer .text-editor-button-row .window-form:focus,
.text-editor-popup-footer .text-editor-button-row .form-window:hover,
.text-editor-popup-footer .text-editor-button-row .form-window:focus {
    background: #000000;
    color: #e6e6e6;
}

/* =================================== */
/* checkbox wraper table style starts  */
.text-editor-content-wrapper {
    /* margin-top: 20px; */
    width: 100%;
    height: 280px;
    border: 1px solid rgb(219, 218, 218);
    border-radius: 5px;
    padding: 1px;
    position: relative;
}

/* .text-editor-table-wrapper {
  position: absolute;
} */
table#text-editor-table {
    /* float: right;
  border-spacing: 0px; */
    /* table-layout: fixed; */
    /* margin-left: auto;
  margin-right: auto; */
    background-color: #ffffff;
    width: 100%;
}

#text-editor-table td {
    /* word-wrap: break-word; */
    white-space: normal;
    width: 150px;
    padding: 6px 0px 6px 10px;
}

#text-editor-table td.second {
    padding-left: 0px;
}

#text-editor-table td.second input {
    border: 0;
    outline: 0;
    width: 100%;
    padding: 2px 5px 2px 5px;
    background-color: inherit;
}

/* .checkbox-table-wrapper {
  position: relative;
  padding-bottom: 40px;
} */
.text-editor-table-scroll {
    /* height: 200px; */
    height: 276px;
    width: 100%;
    margin: 0px auto;
    /* border: 2px solid grey; */
    border-radius: 4px;
    overflow-y: auto;
}

.text-editor-table-wrapper table {
    width: 100%;
}

.text-editor-table-wrapper table * {
    /* background: white; */
    color: black;
}

.text-editor-table-scroll tr:nth-child(even) {
    background-color: #ffffff !important;
}

.text-editor-table-scroll tr:nth-child(odd) {
    background-color: #fbfbfb !important;
}

/* ........................... */
/* Custom ScrollBar  Start*/
.text-editor-table-scroll::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.text-editor-table-scroll::-webkit-scrollbar-track {
    box-shadow: transparent;
    border-radius: 10px;
}

/* Handle */
.text-editor-table-scroll::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

/* Handle on hover */
.text-editor-table-scroll::-webkit-scrollbar-thumb:hover {
    background: black;
}

/* Custom ScrollBar Ends  */
/* ........................... */

/* Form by text editor pop-up style ends */
/* ==============XXXXXXXXXXX============= */

/* =======sub table style starts=======  */
.sub-table-wrapper {
    width: 90px;
    height: 110px;
    position: absolute;
    top: 180px;
    left: 130px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #ffffff;
}

table#sub-editor-table {
    /* float: right;
  border-spacing: 0px; */
    /* table-layout: fixed; */
    /* margin-left: auto;
  margin-right: auto; */
    background-color: #ffffff;
    width: 100%;
}

#sub-editor-table td {
    white-space: normal;
    /* width: 150px; */
    padding: 2px 0px 2px 10px;
    font-size: 14px;
}

#sub-editor-table td.second {
    padding-left: 0px;
}

#sub-editor-table td.second input {
    border: 0;
    outline: 0;
    width: 100%;
    padding: 2px 5px 2px 5px;
    background-color: inherit;
}

.sub-table-scroll {
    height: 106px;
    width: 99%;
    margin: 2px auto;
    border-radius: 4px;
    overflow-y: auto;
}

.sub-table-wrapper table {
    width: 100%;
}

.sub-table-wrapper table * {
    color: black;
}

.sub-table-scroll tr:nth-child(even) {
    background-color: #ffffff !important;
}

.sub-table-scroll tr:nth-child(odd) {
    background-color: #fbfbfb !important;
}

.sub-table-scroll::-webkit-scrollbar {
    width: 2px;
}

.sub-table-scroll::-webkit-scrollbar-track {
    box-shadow: transparent;
    border-radius: 10px;
}

.sub-table-scroll::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

.sub-table-scroll::-webkit-scrollbar-thumb:hover {
    background: black;
}

/* ====x===sub table style ends===x===  */

/* =======sub2 table style starts=======  */
.sub2-table-wrapper {
    width: 80px;
    height: 85px;
    position: absolute;
    top: 180px;
    left: 222px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #ffffff;
}

table#sub2-editor-table {
    /* float: right;
  border-spacing: 0px; */
    /* table-layout: fixed; */
    /* margin-left: auto;
  margin-right: auto; */
    background-color: #ffffff;
    width: 100%;
}

#sub2-editor-table td {
    white-space: normal;
    /* width: 150px; */
    padding: 2px 0px 2px 10px;
    font-size: 14px;
}

#sub2-editor-table td.second {
    padding-left: 0px;
}

#sub2-editor-table td.second input {
    border: 0;
    outline: 0;
    width: 100%;
    padding: 2px 5px 2px 5px;
    background-color: inherit;
}

.sub2-table-scroll {
    height: 83px;
    width: 99%;
    margin: 2px auto;
    border-radius: 4px;
    overflow-y: auto;
}

.sub2-table-wrapper table {
    width: 100%;
}

.sub2-table-wrapper table * {
    color: black;
}

.sub2-table-scroll tr:nth-child(even) {
    background-color: #ffffff !important;
}

.sub2-table-scroll tr:nth-child(odd) {
    background-color: #fbfbfb !important;
}

.sub2-table-scroll::-webkit-scrollbar {
    width: 2px;
}

.sub2-table-scroll::-webkit-scrollbar-track {
    box-shadow: transparent;
    border-radius: 10px;
}

.sub2-table-scroll::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

.sub2-table-scroll::-webkit-scrollbar-thumb:hover {
    background: black;
}

.dispHideShow {
    display: none;
}

/* ====x===sub2 table style ends===x===  */
/* Form by text editor pop-up style ends */
/* ======================================= */

/* ================================================ */
/* thank you pop-up-for-generate button style starts */
.generate-button-click-popup {
    width: 359px;
    height: 275px;
    -webkit-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    -moz-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
}

.generate-button-popup-header-title {
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 80px;
    width: 100%;
    line-height: 80px;
}

.generate-button-popup-header-title p {
    padding-bottom: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.generate-button-popup-body-content {
    margin: 15px 25px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid grey;
    background-color: #f9f9fb;
}

.generate-button-popup-body-content p {
    margin: 0;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 500;
    color: #787878;
}

.generate-button-click-popup-wrapper .generate-popup {
    margin-top: 15px;
    margin-right: 25px;
    float: right;
}

.generate-button-click-popup-wrapper .generate-popup .gn-close-btn {
    width: 120px;
    font-size: 18px;
    background: #e9e9e9;
    color: black;
    font-weight: bold;
    transition: 150ms;
    outline: none;
    border: 0 none;
    border-radius: 2px;
    cursor: pointer;
    padding: 8px 0px;
}

.generate-button-click-popup-wrapper .generate-popup .gn-close-btn:hover,
.generate-button-click-popup-wrapper .generate-popup .gn-close-btn:focus {
    background: #000000;
    color: #e6e6e6;
}

#op3GenerateBtnModal .modal-content {
    width: 360px;
    border: 0;
    border-radius: 0 !important;
    left: 20%;
}

#op3GenerateBtnModal .modal-content .modal-body {
    padding: 0;
    border-radius: 0 !important;
}

#doneBtnModal .modal-content {
    width: 360px;
    border: 0;
    border-radius: 0 !important;
    left: 20%;
}

#doneBtnModal .modal-content .modal-body {
    padding: 0;
    border-radius: 0 !important;
}

/* thank you pop-up-for-generate button style ends */
/* ===================XXXXXXXXXXX================= */

/* ================================================ */
/* plus pop-up-for-generate button style starts */
.plus-button-click-popup {
    width: 360px;
    height: 270px;
    -webkit-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    -moz-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
}

.plus-button-popup-header-title {
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 80px;
    width: 100%;
    line-height: 80px;
}

.plus-button-popup-header-title p {
    padding-bottom: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.plus-button-popup-body-content {
    margin: 25px;
    /* text-align: center; */
    /* border-radius: 4px; */
    /* border: 1px solid grey; */
    background-color: #f9f9fb;
}

.plus-button-popup-body-content input {
    padding: 12px 15px;
    border: 1px solid grey;
    border-radius: 4px;
    outline: 0;
    font-size: 20px;
    font-weight: 700;
    color: #787878;
    width: 100%;
}

.plus-button-click-popup-wrapper .plus-popup-button-row {
    display: table;
    margin: auto;
    margin-top: 30px;
    /* margin: auto 10px; */
    /* display: flex;
  align-items: center;
  justify-content: center; */
}

.plus-button-click-popup-wrapper .plus-popup-button-row .plus-done-btn,
.plus-button-click-popup-wrapper .plus-popup-button-row .plus-cancel-btn {
    width: 130px;
    font-size: 18px;
    background: #e9e9e9;
    color: black;
    font-weight: bold;
    transition: 150ms;
    outline: none;
    border: 0 none;
    border-radius: 2px;
    cursor: pointer;
    padding: 8px 0px;
}

.plus-button-click-popup-wrapper .plus-popup-button-row .plus-cancel-btn {
    background: #000000;
    color: #e6e6e6;
}

.plus-popup-button-row .plus-done-btn {
    margin-right: 10px;
}

.plus-popup-button-row .plus-cancel-btn {
    margin-left: 10px;
}

.plus-button-click-popup-wrapper .plus-popup-button-row .plus-done-btn:hover,
.plus-button-click-popup-wrapper .plus-popup-button-row .plus-done-btn:focus {
    background: #000000;
    color: #e6e6e6;
}

.plus-button-click-popup-wrapper .plus-popup-button-row .plus-cancel-btn:hover,
.plus-button-click-popup-wrapper .plus-popup-button-row .plus-cancel-btn:focus {
    background: #e9e9e9;
    color: black;
}

#plusBtnModal .modal-content {
    width: 360px;
    border: 0;
    border-radius: 0 !important;
    left: 20%;
}

#plusBtnModal .modal-content .modal-body {
    padding: 0;
    border-radius: 0 !important;
}

/* plus pop-up-for-generate button style ends */
/* ===================XXXXXXXXXXX================= */

/* ========================================== */
/* pop-up-for-table-header-click style starts */
#dropBtnModal .modal-content {
    width: 250px;
    border: 0;
    border-radius: 0 !important;
    left: 20%;
}

.table-header-click-popup {
    width: 250px;
    height: 370px;
    -webkit-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    -moz-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
}

.table-header-popup-header-title {
    background-color: #000;
    text-align: center;
    height: 60px;
    width: 100%;
    line-height: 60px;
}

.table-header-popup-header-title p {
    padding-bottom: 0;
    text-transform: uppercase;
    font-family: gilroy-medium;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
}

.table-header-popup-body {
    width: 100%;
    height: 100%;
    padding: 10px 14px;
}

.find-sort-wrapper {
    width: 100%;
    display: flex;
    padding: 0px;
}

.find-wrapper {
    display: flex;
    width: 80%;
    border: 1px solid rgb(219, 218, 218);
    border-radius: 3px;
    margin-right: 3px;
    padding: 3px;
}

.sort-wrapper {
    width: 25%;
    text-align: center;
    padding: 3px;
}

.find-wrapper input[type="text"] {
    width: 75%;
    height: 100%;
    outline: 0;
    border-radius: 0;
    border: none;
}

.find-wrapper input[type="submit"],
.sort-wrapper input[type="submit"] {
    float: right;
    width: 25%;
    height: 100%;
    font-family: gilroy-medium, sans-serif;
    font-weight: 600;
    font-size: 14px;
    background: #f2f3f6;
    color: #000000;
    transition: 150ms;
    outline: 0;
    border: 0;
    border-radius: 2px;
    -webkit-appearance: none;
}

.sort-wrapper input[type="submit"] {
    width: 100%;
}

.find-wrapper input[type="submit"]:hover,
.sort-wrapper input[type="submit"]:hover {
    background: #000000;
    color: #e6e6e6;
}

.table-header-popup-footer .button-row {
    display: table;
    margin: auto;
    margin-top: 4px;
}

.table-header-popup-footer .button-row .close-btn,
.table-header-popup-footer .button-row .select-btn {
    font-family: gilroy-medium, sans-serif;
    font-weight: 600;
    font-size: 14px;
    background: #e9e9e9;
    color: #3d3d3d;
    transition: 150ms;
    outline: none;
    border: 0 none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 16px;
}

.table-header-popup-footer .button-row .close-btn {
    margin-right: 5px;
}

.table-header-popup-footer .button-row .select-btn {
    margin-left: 5px;
}

.table-header-popup-footer .button-row .close-btn:hover,
.table-header-popup-footer .button-row .close-btn:focus,
.table-header-popup-footer .button-row .select-btn:hover,
.table-header-popup-footer .button-row .select-btn:focus {
    background: #000000;
    color: #e6e6e6;
}

/* =================================== */
/* checkbox wraper table style starts  */
.checkbox-content-wrapper {
    margin-top: 10px;
    width: 100%;
    height: 200px;
    border-radius: 3px;
    overflow-y: scroll;
    border: 1px solid rgb(219, 218, 218);
}

#checkbox-table-first td {
    word-wrap: break-word;
    padding: 6px 0px 0px 10px;
}

.checkbox-table-scroll {
    /* height: 276px; */
    width: 100%;
    margin: 0px auto;
}

.checkbox-table-wrapper table {
    width: 100%;
}

.checkbox-table-wrapper table * {
    /* background: white; */
    color: black;
}

.checkbox-table-scroll tr:nth-child(even) {
    background-color: #ffffff !important;
}

.checkbox-table-scroll tr:nth-child(odd) {
    background-color: #fbfbfb !important;
}

/* ........................... */
/* Custom ScrollBar  Start*/
.checkbox-content-wrapper::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.checkbox-content-wrapper::-webkit-scrollbar-track {
    box-shadow: transparent;
    border-radius: 10px;
}

/* Handle */
.checkbox-content-wrapper::-webkit-scrollbar-thumb {
    background: #dfd9d9;
    border-radius: 10px;
}

/* Custom ScrollBar Ends  */
/* ........................... */

/* ........................... */
/* Custom Check Box Starts  */
/* .page__toggle {
  margin: 0 8px;
} */
.popup__checkbox__toggle {
    display: inline-flex;
    position: relative;
    margin-bottom: 0;
}

/* this hides the main checkbox */
.popup__checkbox__toggle__input {
    width: 20px;
    height: 20px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.popup__checkbox__toggle__label {
    display: inline-flex;
    min-height: 28px;
    /* height: 24px; */
    /* font-size: 14px; */
    padding-left: 36px;
}

.popup__checkbox__toggle__input:not(:disabled)~.popup__checkbox__toggle__label {
    cursor: pointer;
}

/* this is for box */
.popup__checkbox__toggle__label::after {
    content: "";
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    /* font-size: 32px; */

    /* background-color: #d0d0d0; */
    border: 2px solid #d0d0d0;

    position: absolute;
    top: 2px;
    left: 5px;
    z-index: 2;
}

.popup__checkbox__toggle__input:checked~.popup__checkbox__toggle__label::after {
    background-color: #25d34f;
    border: 0;
    box-shadow: 5px 5px 5px 4px rgba(140, 245, 80, 0.2);
}

.popup__checkbox__toggle__text {
    font-family: gilroy-medium, sans-serif;
    font-weight: 600;
    font-size: 14px;
    font-weight: 500;
    color: #080808;
    margin: auto 0;
}

/* this is for tik sign */
.popup__checkbox__toggle__label::before {
    content: "";
    width: 0;
    height: 0;
    /* font-size: 10px; */

    border-left-width: 0;
    border-bottom-width: 0;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: #fff;

    position: absolute;
    top: 13px;
    left: 8px;
    z-index: 3;

    transform-origin: left top;
    transform: rotate(-40deg) skew(10deg);
}

.popup__checkbox__toggle__input:checked~.popup__checkbox__toggle__label::before {
    width: 12px;
    height: 6px;
    border-left-width: 2px;
    border-bottom-width: 2px;
}

.popup__checkbox__toggle__label::after {
    border-radius: 4px;
}


/* Custom Check Box Ends  */


#col8Filter .modal-content {
    width: 250px;
    border: 0;
    border-radius: 0 !important;
    left: 20%;
}

#dropBtnModal .modal-content .modal-body,
#col8Filter .modal-content .modal-body {
    padding: 0;
    border-radius: 0 !important;
}

/* pop-up-for-table-header-click style ends */
/* ==============XXXXXXXXXXXXXX============ */

/* ============================== */
/* hyper text click pop-up starts */
.hyper-text-click-popup {
    width: 360px;
    height: 400px;
    -webkit-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    -moz-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
}

.hyper-text-popup-header-title {
    background-color: #000;
    color: #fff;
    text-align: center !important;
    height: 60px;
    width: 100%;
    line-height: 60px;
}

.hyper-text-popup-header-title p {
    padding-bottom: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}

.hyper-text-popup-body {
    width: 100%;
    padding: 15px;
}

/* ======checkbox wrapper table style starts==== */
.hyper-text-content-wrapper {
    /* margin-top: 20px; */
    width: 100%;
    height: 306px;
    border: 1px solid rgb(219, 218, 218);
    border-radius: 5px;
    padding: 1px;
}

#hypertext-table-first td {
    word-wrap: break-word;
    padding: 6px 0px 6px 15px;
    font-size: 16px;
    font-weight: 500;
    color: #080808;
}

/* .checkbox-table-wrapper {
  position: relative;
  padding-bottom: 40px;
} */
.hyper-text-table-scroll {
    /* height: 200px; */
    height: 302px;
    width: 100%;
    margin: 0px auto;
    /* border: 2px solid grey; */
    border-radius: 4px;
    overflow-y: auto;
}

.hyper-text-table-wrapper table {
    width: 100%;
}

.hyper-text-table-wrapper table * {
    /* background: white; */
    color: black;
}

.hyper-text-table-scroll tr:nth-child(even) {
    background-color: #ffffff !important;
}

.hyper-text-table-scroll tr:nth-child(odd) {
    background-color: #fbfbfb !important;
}

/* ........................... */
/* Custom ScrollBar  Start*/
.hyper-text-table-scroll::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.hyper-text-table-scroll::-webkit-scrollbar-track {
    box-shadow: transparent;
    border-radius: 10px;
}

/* Handle */
.hyper-text-table-scroll::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

/* Handle on hover */
.hyper-text-table-scroll::-webkit-scrollbar-thumb:hover {
    background: black;
}

/* Custom ScrollBar Ends  */
/* ........................... */

#hyperTextModal1 .modal-content {
    width: 360px;
    border: 0;
    border-radius: 0 !important;
    left: 20%;
}

#hyperTextModal1 .modal-content .modal-body {
    padding: 0;
    border-radius: 0 !important;
}

/*xxxxxx hyper text click pop-up ends xxxxxxxxxx*/
/* ====================XXXXXXX================== */

/* ============================= */
Bottom codes are added by Tanvir
/* ============================= */

/* ============================================= */
/* ======= Manage Template pop-up starts ======= */

/* ====save draft button popup style starts===== */
#mnTemp_saveDraft .generate-button-click-popup {
    height: 290px !important;
}

#mnTemp_saveDraft .modal-content {
    width: 360px;
    border: 0;
    border-radius: 0 !important;
    /* left: 20%; */
}

#mnTemp_saveDraft .modal-content .modal-body {
    padding: 0;
    border-radius: 0 !important;
}

/* xxxxxx save draft button popup style ends xxxxxxx  */

/* ====== Save Start button popups style starts ==== */
.save-start-button-click-popup {
    width: 420px;
    height: 420px;
    -webkit-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    -moz-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
}

.save-start-button-popup-header-title {
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 90px;
    width: 100%;
    line-height: 90px;
    position: relative;
}

.save-start-button-popup-header-title p {
    padding-bottom: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "gilroy-regular", sans-serif;
    font-weight: 600;
    margin: 0;
}

.save-start-button-popup-header-title .save-start-button-cross {
    position: absolute;
    height: 35px;
    width: 35px;
    font-size: 20px;
    top: 0;
    right: 0;
}

.save-start-button-popup-header-title i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.save-start-button-cross:hover,
.save-start-button-cross:focus {
    cursor: pointer;
}

.save-start-button-popup-body-wrapper {
    margin: 25px;
    /* text-align: center; */
    /* border-radius: 4px; */
    /* border: 1px solid grey; */
    /* background-color: #f9f9fb; */
    background-color: white;
}

.save-start-button-popup-category-title-wrap {
    position: relative;
    height: 50px;
}

.save-start-button-popup-category-title-wrap p,
.save-start-button-popup-name-title-wrap p {
    margin: 0;
    font-family: "gilroy-regular", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.save-start-button-popup-category-title-wrap p {
    padding-top: 2px;
}

.save-start-button-popup-name-title-wrap p {
    padding-bottom: 10px;
}

.save-start-button-popup-category-title-wrap .save-start-button-round-plus {
    position: absolute;
    height: 35px;
    width: 35px;
    font-size: 20px;
    top: 0;
    right: 0;
    background-color: #f7f600;
    border: 1px solid #eede04;
    border-radius: 50%;
}

.save-start-button-popup-category-title-wrap i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.save-start-button-round-plus:hover,
.save-start-button-round-plus:focus {
    cursor: pointer;
}

.save-start-custom-select-box {
    background: #e6e6e6;
    position: relative;
    width: 100%;
    height: 45px;
    z-index: 3;
}

.save-start-custom-select-box select {
    outline: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 4px;
    font-family: "gilroy-regular", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #787878;
    background-color: #f2f2f2;
    z-index: 2;
    padding: 0 10px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.save-start-custom-select-box select:hover,
.save-start-custom-select-box select:focus {
    cursor: pointer;
    outline: 0;
}

.save-start-custom-select-box:after {
    content: "\25bc";
    font-size: 10px;
    width: 14px;
    height: 14px;
    position: absolute;
    background-color: white;
    z-index: 2;
    right: 12px;
    top: 14px;
    text-align: center;
    border-radius: 2px;
    opacity: 0.8;
}

.save-start-custom-select-box select option {
    background: #e6e6e6;
}

.save-start-button-popup-body-content input {
    padding: 0px 10px;
    border-radius: 4px;
    outline: 0;
    border: 1px solid black;
    font-family: "gilroy-regular", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #787878;
    background-color: #f2f2f2;
    width: 100%;
    height: 45px;
}

.save-start-button-click-popup-wrapper .save-start-popup-button-row {
    /* display: table; */
    /* margin: auto; */
    display: flex;
    margin: 30px 25px 20px 25px;
    /* margin-top: 30px;
  margin-bottom: 20px; */
    /* margin: auto 10px; */
    /* display: flex;
  align-items: center;
  justify-content: center; */
}

.save-start-button-click-popup-wrapper .save-start-popup-button-row .save-start-done-btn,
.save-start-button-click-popup-wrapper .save-start-popup-button-row .save-start-cancel-btn {
    width: 130px;
    font-size: 18px;
    background: #e9e9e9;
    color: black;
    font-weight: bold;
    transition: 150ms;
    outline: none;
    border: 0 none;
    border-radius: 2px;
    cursor: pointer;
    padding: 8px 0px;
}

.save-start-button-click-popup-wrapper .save-start-popup-button-row .save-start-cancel-btn {
    background: #000000;
    color: #e6e6e6;
}

.save-start-popup-button-row .save-start-cancel-btn {
    /* margin-left: 10px; */
    margin-left: auto;
}

.save-start-button-click-popup-wrapper .save-start-popup-button-row .save-start-done-btn:hover,
.save-start-button-click-popup-wrapper .save-start-popup-button-row .save-start-done-btn:focus {
    background: #000000;
    color: #e6e6e6;
}

.save-start-button-click-popup-wrapper .save-start-popup-button-row .save-start-cancel-btn:hover,
.save-start-button-click-popup-wrapper .save-start-popup-button-row .save-start-cancel-btn:focus {
    background: #e9e9e9;
    color: black;
}

#mnTemp_saveStart .modal-content {
    width: 420px;
    border: 0;
    border-radius: 0 !important;
    /* left: 20%; */
}

#mnTemp_saveStart .modal-content .modal-body {
    padding: 0;
    border-radius: 0 !important;
}

/* xxxxx Save Start button popups style ends xxxxx */

/* ===========Time Picker pop-up button style starts=========== */
.time-picker-button-click-popup {
    width: 420px;
    height: 335px;
    -webkit-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    -moz-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
}

.time-picker-button-popup-header-title {
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 80px;
    width: 100%;
    line-height: 80px;
    position: relative;
}

.time-picker-button-popup-header-title p {
    padding-bottom: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "gilroy-regular", sans-serif;
    font-weight: 600;
    margin: 0;
}

.time-picker-button-popup-header-title .time-picker-button-cross {
    position: absolute;
    height: 35px;
    width: 35px;
    font-size: 20px;
    top: 0;
    right: 0;
}

.time-picker-button-popup-header-title i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.time-picker-button-cross:hover,
.time-picker-button-cross:focus {
    cursor: pointer;
}

.time-picker-button-time-picker-wrapper {
    display: flex;
    width: 100%;
    padding: 0px 40px 0px 30px;
    margin-bottom: 50px;
}

.time-picker-input-up-down {
    width: 70%;
}

.time-picker-am-pm {
    width: 30%;
}

.time-picker-input-up-down-inner {
    display: flex;
    width: 100%;
    text-align: center;
}

.input-up-down-inner {
    width: 40%;
}

.dual-dot-inner {
    width: 20%;
}

.time-picker-input-up-down-inner .input-up-down-inner .time-picker-input input {
    border-radius: 2px;
    outline: 0;
    border: 1px solid rgb(172, 170, 170);
    text-align: center;
    font-family: "gilroy-bold", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    background-color: #eaecf0;
    /* width: 100%; */
    height: 80px;
    width: 80px;
}

.input-up-down-inner .time-picker-up,
.input-up-down-inner .time-picker-down {
    font-size: 40px;
}

.time-picker-up {
    height: 52px;
}

.time-picker-down {
    position: relative;
}

.time-picker-down i {
    position: absolute;
    top: 0px;
    left: 36px;
}

.time-picker-up i,
.time-picker-down i {
    cursor: pointer;
}

.dual-dot-inner {
    padding-top: 65px;
}

.dual-dot-inner i {
    font-size: 10px;
}

.time-picker-button-click-popup-wrapper .time-picker-popup-button-row {
    display: flex;
    margin: 30px 25px 20px 25px;
}

.time-picker-button-click-popup-wrapper .time-picker-popup-button-row .time-picker-done-btn,
.time-picker-button-click-popup-wrapper .time-picker-popup-button-row .time-picker-cancel-btn {
    width: 140px;
    font-size: 20px;
    background: #e9e9e9;
    color: black;
    font-family: "gilroy-bold", sans-serif;
    font-weight: 600;
    transition: 150ms;
    outline: none;
    border: 0 none;
    border-radius: 2px;
    cursor: pointer;
    padding: 8px 0px;
}

.time-picker-popup-button-row .time-picker-cancel-btn {
    margin-left: auto;
}

.time-picker-button-click-popup-wrapper .time-picker-popup-button-row .time-picker-cancel-btn:hover,
.time-picker-button-click-popup-wrapper .time-picker-popup-button-row .time-picker-cancel-btn:focus {
    background: #000000;
    color: #e6e6e6;
}

.time-picker-am-pm {
    padding: 52px 0px 0px 25px;
}

.time-picker-am-pm label.ampm-switch {
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    overflow: hidden;
    width: 80px;
    height: 80px;
    margin: 0;
    cursor: pointer;
    background-color: #000000;
}

.time-picker-am-pm label.ampm-switch:before,
.time-picker-am-pm label.ampm-switch:after {
    box-sizing: border-box;
    display: block;
    width: 80px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: white;
}

.time-picker-am-pm label.ampm-switch:before {
    content: "AM";
}

.time-picker-am-pm label.ampm-switch:after {
    content: "PM";
}

.time-picker-am-pm label.ampm-switch input {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: 0;
    padding: 0;
    border: 0;
}

.time-picker-am-pm label.ampm-switch .toggle-button {
    z-index: 2;
    display: inline-block;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 80px;
    height: 40px;
    background: transparent;
    box-sizing: border-box;
    background-clip: padding-box;
    white-space: nowrap;
    transition: top 0.05s ease-in-out;

    border: 1px solid rgb(172, 170, 170);
    color: #000000;
    background-color: #eaecf0;
}

.time-picker-am-pm label.ampm-switch input:checked+.toggle-button {
    top: 40px;
}

.time-picker-am-pm label.ampm-switch .toggle-button:before {
    box-sizing: border-box;
    display: block;
    width: 80px;
    height: 40px;
    font-size: 20px;
    font-family: "gilroy-bold", sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    color: #000000;
}

.time-picker-am-pm label.ampm-switch .toggle-button:before {
    content: "AM";
}

.time-picker-am-pm label.ampm-switch input:checked+.toggle-button:before {
    content: "PM";
}

/* added by Tanvir (6-2-21)  */
.ampm-picker {
    font-size: 20px;
    border: 0;
    width: 80px;
    height: 85px;
    background: white;
}

.ampm-picker .pm {
    margin-top: 5px;
    width: 80px;
    height: 40px;
    color: black;
    background-color: #eaecf0;
    text-align: center;
    line-height: 36px;
    border: 1px solid rgb(172, 170, 170);
    border-radius: 1px;
}

.ampm-picker .am {
    margin-top: 5px;
    width: 80px;
    height: 40px;
    color: white;
    background-color: black;
    text-align: center;
    line-height: 36px;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 1px;
}

.ampm-picker .period {
    cursor: pointer;
}

.chosen-period {
    font-weight: bold;
    font-size: 22px;
    /* color: white;
  background-color: black; */
}

#mnTemp_timePicker .modal-content {
    width: 420px;
    border: 0;
    border-radius: 0 !important;
    /* left: 20%; */
}

#mnTemp_timePicker .modal-content .modal-body {
    padding: 0;
    border-radius: 0 !important;
}

/* ====xxxxx===Time Picker pop-up button style ends===xxxxx==== */

/* xxxxxxx Manage Template pop-up ends xxxxxxxx */
/* ===============XXXXXXXXXXXXXX============== */

/* ALL LIST POPUP START */
.listData-modal .modal-dialog {
    max-width: 1200px;
}

.listData-modal.modal-content {
    border: none;
    border-radius: 3px;
    -webkit-box-shadow: 3px 3px 20px 0px rgba(43, 43, 43, 1);
    -moz-box-shadow: 3px 3px 20px 0px rgba(43, 43, 43, 1);
    box-shadow: 3px 3px 20px 0px rgba(43, 43, 43, 1);
}

.listData-modal .modal-body {
    padding: 0px;
    -webkit-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    -moz-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
}

.wrapper-modal-list {
    position: relative;
    width: 100%;
    height: 670px;
}

.wrapper-modal-list .weapper-list-title {
    padding: 20px;
    background: #000000;
    margin-bottom: 12px;
}

.wrapper-modal-list .weapper-list-title p {
    margin: 0;
    color: #ffffff;
    text-align: center;
    font-family: gilroy-bold, sans-serif;
    font-weight: 700;
    letter-spacing: 2x;
    font-size: 20px;
}

#copyrowlist .wrapper-modal-list .weapper-list-title p {
    font-size: 18px;
}

.wrapper-modal-list .scroll-list-box {
    height: 565px;
    width: 99%;
    overflow: auto;
    /* overflow: hidden; */
    position: relative;
}

/* main list */
.wrapper-modal-list .scroll-list-box .left-list-box {
    width: 250px;
    background: #F6F6F6;
    padding: 8px;
    margin-left: 12px;
}

.wrapper-modal-list .scroll-list-box .left-list-box li {
    position: relative;
    display: flex;
    height: 32px;
    cursor: pointer;
}

.wrapper-modal-list .scroll-list-box .left-list-box li p {
    font-family: gilroy-bold, sans-serif;
    font-size: 14px;
    color: #000000;
    margin: auto auto auto 8px;
}

.scroll-list-box .left-list-box li .green-check-box {
    height: 16px;
    width: 16px;
    background: #06e791;
    position: relative;
    margin: auto -58px auto auto;
    border-radius: 50%;
    /* display: none; */
}

/* Edit by Ashiq */
.display-none {
    display: none;
}

.display-block {
    display: block;
}

/* Edit End by Ashiq */

.scroll-list-box .left-list-box li .green-check-box i {
    position: absolute;
    margin: auto;
    top: 3px;
    bottom: 0;
    left: 3px;
    font-size: 10px;
    color: #ffffff;
}


.scroll-list-box .left-list-box li .arrow-li-box {
    height: 18px;
    width: 18px;
    /* background: #ffffff; */
    position: relative;
    margin: auto 8px auto auto;
}

/* Edit by Ashiq */
.arrow-li-box-background-color-1 {
    background: #ffffff;
}

.arrow-li-box-background-color-2 {
    background: #f6f6f6;
}

/* Edit End by Ashiq */

.scroll-list-box .left-list-box li .arrow-li-box i {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 6px;
    font-size: 16px;
    /* color: #8f8f8f; */
}

/* Edit by Ashiq */
.arrow-li-box-i-color-1 {
    color: #8f8f8f;
}

.arrow-li-box-i-color-2 {
    color: #000000;
}

/* Edit End by Ashiq */


.scroll-list-box .left-list-box li:hover .arrow-li-box,
.scroll-list-box .left-list-box li:hover .arrow-li-box i {
    background: #F6F6F6;
    color: #000000;
}

.scroll-list-box .left-list-box .highlight_li {
    border: 1px solid #000000;
    border-radius: 3px;
    background: #ffffff;
}

/* sublist */
.wrapper-modal-list .scroll-list-box .submodal-list {
    width: 264px;
    background: #ffffff;
    padding: 8px;
    margin-left: 32px;
    position: absolute;
    top: 0;
}

.checkbox_show {
    display: block;
}

.checkbox_hide {
    display: none;
}

.wrapper-modal-list .scroll-list-box .submodal-list li {
    border: 1px solid #a1a1a1;
    border-radius: 3px;
    background: #ffffff;
    position: relative;
    display: flex;
    height: 25px;
    margin-bottom: 3px;
    cursor: pointer;
}

.wrapper-modal-list .scroll-list-box .submodal-list li p {
    font-family: gilroy-bold, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    margin: auto auto auto 8px;
}

.scroll-list-box .submodal-list li .sublist-check-box {
    position: relative;
    margin: auto 8px auto auto;
    height: 16px;
    width: 16px;
    background: #06e791;
    border-radius: 50%;
    /* display: none; */
}

.scroll-list-box .submodal-list li .sublist-check-box i {
    position: absolute;
    margin: auto;
    top: 3px;
    bottom: 0;
    left: 3px;
    font-size: 10px;
    color: #ffffff;
}

.scroll-list-box .submodal-list li .sublist-cancel-box {
    position: relative;
    margin: auto 8px auto auto;
    height: 18px;
    width: 18px;
    background: #d3d3d3;
    border-radius: 50%;
    /* display: none; */
}

.scroll-list-box .submodal-list li .sublist-cancel-box i {
    position: absolute;
    margin: auto;
    top: 3px;
    bottom: 0;
    left: 5px;
    font-size: 11px;
    color: #ffffff;
}

.wrapper-modal-list .scroll-down {
    margin-left: 12px;
    margin-top: 0px;
    width: 250px;
    height: 20px;
    background: #000000;
    cursor: pointer;
}

.wrapper-modal-list .scroll-down i {
    margin-left: 115px;
    color: #ffffff;
    font-size: 22px;
}

.modal .myvote {
    display: inline;
    float: right;
    padding: 16px 32px 32px;
}

.modal .btn-myfo button {
    border-radius: 2px;
    padding: 10px 54px;
    color: #1D1D1D;
    font-family: gilroy-bold, sans-serif;
    font-weight: 600;
    font-size: 26px;
    transition: 0.3s all ease;
}

.modal .btn-myfo .reset-myfo {
    border: 1px solid #FFF000;
    background: #FFF000;
    margin-right: 10px;
}

.modal .btn-myfo .reset-myfo:hover {
    border: 1px solid #fccf07;
    background: #fccf07;
}

.modal .btn-myfo .done-myfo {
    border: 1px solid #000000;
    background: #000000;
    color: #ffffff;
}

.modal .btn-myfo .done-myfo:hover {
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

/* manage temp list popup customize */
#manage-tempa-list-modal .modal-body,
#manage-tempb-list-modal .modal-body,
#manage-tempc-list-modal .modal-body,
#manage-tempd-list-modal .modal-body,
#opt4a-list-modal .modal-body,
#opt4b-list-modal .modal-body,
#opt4c-list-modal .modal-body,
#opt4d-list-modal .modal-body {
    padding: 10px;
}

#manage-tempa-list-modal .close,
#manage-tempb-list-modal .close,
#manage-tempc-list-modal .close,
#manage-tempd-list-modal .close,
#opt4a-list-modal .close,
#opt4b-list-modal .close,
#opt4c-list-modal .close,
#opt4d-list-modal .close {
    opacity: 1;
    margin-top: -16px;
    margin-right: -10px;
}

#manage-tempa-list-modal .close span,
#manage-tempb-list-modal .close span,
#manage-tempc-list-modal .close span,
#manage-tempd-list-modal .close span,
#opt4a-list-modal .close span,
#opt4b-list-modal .close span,
#opt4c-list-modal .close span,
#opt4d-list-modal .close span {
    color: #ffffff;
    font-size: 28px;
}

#manage-tempa-list-modal .modal-body,
#manage-tempb-list-modal .modal-body,
#manage-tempc-list-modal .modal-body,
#manage-tempd-list-modal .modal-body,
#opt4a-list-modal .modal-body,
#opt4b-list-modal .modal-body,
#opt4c-list-modal .modal-body,
#opt4d-list-modal .modal-body {
    padding: 10px;
    -webkit-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    -moz-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
}

#manage-tempa-list-modal .wrapper-modal-list,
#manage-tempb-list-modal .wrapper-modal-list,
#manage-tempc-list-modal .wrapper-modal-list,
#manage-tempd-list-modal .wrapper-modal-list,
#opt4a-list-modal .wrapper-modal-list,
#opt4b-list-modal .wrapper-modal-list,
#opt4c-list-modal .wrapper-modal-list,
#opt4d-list-modal .wrapper-modal-list {
    border: 2px solid #1b1b1b;
    height: 680px;
}

#manage-tempa-list-modal .scroll-list-box,
#manage-tempb-list-modal .scroll-list-box,
#manage-tempc-list-modal .scroll-list-box,
#manage-tempd-list-modal .scroll-list-box,
#opt4a-list-modal .scroll-list-box,
#opt4b-list-modal .scroll-list-box,
#opt4c-list-modal .scroll-list-box,
#opt4d-list-modal .scroll-list-box {
    overflow-x: hidden;
}

.modal .managetemp-btn {
    padding: 0 20px 20px;
}

/* scrollbar customize start */
.scroll-list-box::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.scroll-list-box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #919191;
    border-radius: 10px;
}

/* Handle */
.scroll-list-box::-webkit-scrollbar-thumb {
    background: #919191;
    border-radius: 15px;
}

/* Handle on hover */
.scroll-list-box::-webkit-scrollbar-thumb:hover {
    background: #424242;
}

/* scrollbar customize end */

/* ALL LIST POPUP END */


/* REMOVE LIST ITEM MODAL START */
.delete-list-item .modal-dialog {
    max-width: 330px !important;
}

.delete-list-item .modal-content {
    border: none;
    border-radius: 3px;
    -webkit-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    -moz-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
}

.delete-list-item .modal-header {
    background: #000000;
    border-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
}

.delete-list-item .modal-title {
    color: #ffffff;
    text-align: center;
    font-family: gilroy-medium, sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0 auto;
}

.delete-list-item .close {
    position: absolute;
    color: #ffffff;
    padding: 0;
    margin: 0;
    top: 5px;
    right: 10px;
    opacity: 1;
}

.delete-list-item .close span {
    color: #ffffff;
    font-size: 26px;
    text-shadow: none;
}

.delete-list-item .modal-body {
    padding: 0px;
}

.delete-list-item .remove-box {
    padding: 8px 16px 16px;
}

.delete-list-item .remove-box .question-delete {
    border: 1px solid #969696;
    border-radius: 3px;
    background: #F9F9FB;
    padding: 24px 0px;
}

.delete-list-item .remove-box .question-delete p {
    color: #787878;
    text-align: center;
    font-family: gilroy-medium, sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

.delete-list-item .remove-box .comfirm-btn-bx {
    margin-top: 20px;
}

.delete-list-item .comfirm-btn-bx button {
    border: none;
    border-radius: 2px;
    padding: 5px 22px;
    color: #1D1D1D;
    font-family: gilroy-medium, sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.delete-list-item .comfirm-btn-bx .cancel-list-data {
    background: #FFF000;
}

.delete-list-item .comfirm-btn-bx .cancel-list-data:hover {
    background: #fccf07;
}

.delete-list-item .comfirm-btn-bx .confirm-list-data {
    background: #EAECF0;
    float: right;
}

.delete-list-item .comfirm-btn-bx .confirm-list-data:hover {
    background: #c6cdd8;
}


/* REMOVE LIST ITEM MODAL END */

/* Cottected from another file (Tanvir) */
#text_editor_p {
    height: 278px;
    /* border:1px solid black; */
    border-radius: 4px;
    padding: 5px;
    font-size: 15px;
    overflow-y: scroll;
    position: relative;
}
#text_editor,
#op3_text_editor,
#ms2_text_editor,
#ds2_text_editor,
#ms4_text_editor,
#ds4_text_editor
{
	border: none;
	outline: none;
}

#text_editor:hover,
#text_eiditor:focus,
#text_editor:active {
    border: none;
    outline: none;
}

/* ........................... */
/* Custom ScrollBar  Start*/
#text_editor_p::-webkit-scrollbar {
    width: 5px;
}

/* Track */
#text_editor_p::-webkit-scrollbar-track {
    box-shadow: transparent;
    border-radius: 10px;
}

/* Handle */
#text_editor_p::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

/* Handle on hover */
#text_editor_p::-webkit-scrollbar-thumb:hover {
    background: black;
}

/* TODO popup design  */
#text_editor div:nth-child(even) {
    background-color: #ffffff !important;
}

#text_editor div:nth-child(odd) {
    background-color: #fbfbfb !important;
}

.form-text-design {
    color: black;
    font-family: gilroy-bold;
    font-weight: 500;
    font-size: 14px;
}

.form-text-design-invalid {
    color: red;
    font-family: gilroy-bold;
    font-weight: 500;
    font-size: 14px;
}

/* Custom ScrollBar Ends  */

/* ============Added by Tanvir (11-02-20)=========== */
/* Suggestion Box Design */
#adder select {
    padding: 5px;
}

#adder select::-webkit-scrollbar {
    width: 5px;
}

/* Track */
#adder select::-webkit-scrollbar-track {
    box-shadow: transparent;
    border-radius: 10px;
}

/* Handle */
#adder select::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

/* Handle on hover */
#adder select::-webkit-scrollbar-thumb:hover {
    background: black;
}

#adder select option {
    padding: 5px;
}

#adder select option:nth-child(even) {
    background-color: #ffffff !important;
}

#adder select option:nth-child(odd) {
    background-color: #fbfbfb !important;
}

#adder {
    position: absolute;
}

#adder.set-name {
    left: 30px;
}

#adder.set-sug {
    left: 100px;
}


/* Added by Tanvir */
/* Style for 3 input field Option 1 Name  */
.op1-option-selection .width-15-tripple {
    width: 15.3% !important;
}

.op1-option-selection .width-15-tripple .error-message p {
    font-size: 10px;
    color: red;
    padding-left: 0px;
    line-height: 12px;
}

@media screen and (max-width: 1780px) {
    .op1-option-selection .width-15-tripple .error-message p {
        font-size: 8px;
    }
}

@media screen and (max-width: 1450px) {
    .op1-option-selection .width-15-tripple .error-message p {
        font-size: 7px;
        line-height: 10px;
    }
}

@media screen and (max-width: 1300px) {
    .op1-option-selection .width-15-tripple .error-message p {
        font-size: 6px;
    }
}

@media screen and (max-width: 1200px) {
    .op1-option-selection .width-15-tripple .error-message p {
        font-size: 8px;
    }
}

@media screen and (max-width: 820px) {
    .op1-option-selection .width-15-tripple .error-message p {
        font-size: 7px;
    }
}

/* Manage Data Option 1 THANK YOU Pop-Ups Customization */
#op1GenerateBtnModal .modal-dialog {
    max-width: 360px;
}

#op1GenerateBtnModal .modal-dialog .modal-body {
    padding: 0px;
}

#op1GenerateBtnModal .modal-dialog .modal-body .generate-button-click-popup {
    height: 295px;
}



/* #op3FormEditModal .modal-content,
#op1FormEditModal .modal-content {
    width: 400px;
    border: 0;
    border-radius: 0 !important;
    left: 10%;
}
#op3FormEditModal .modal-content .modal-body,
#op1FormEditModal .modal-content .modal-body {
    padding: 0;
    border-radius: 0 !important;
} */

#op1FormEditModal .modal-dialog,
#op3FormEditModal .modal-dialog,
#op4ListFormEditModal .modal-dialog,
#op4LeftRightFormEditModal .modal-dialog,
#op4CheckBoxFormEditModal .modal-dialog,
#op4RangeCalenderFormEditModal .modal-dialog,
#mnTempListFormEditModal .modal-dialog,
#mnTempLeftRightFormEditModal .modal-dialog,
#mnTempCheckBoxFormEditModal .modal-dialog,
#mnTempRangeCalenderFormEditModal .modal-dialog{
    max-width: 401px;
}
#op1FormEditModal .modal-dialog .modal-body,
#op3FormEditModal .modal-dialog .modal-body,
#op4ListFormEditModal .modal-dialog .modal-body,
#op4LeftRightFormEditModal .modal-dialog .modal-body,
#op4CheckBoxFormEditModal .modal-dialog .modal-body,
#op4RangeCalenderFormEditModal .modal-dialog .modal-body,
#mnTempListFormEditModal .modal-dialog .modal-body,
#mnTempLeftRightFormEditModal .modal-dialog .modal-body,
#mnTempCheckBoxFormEditModal .modal-dialog .modal-body,
#mnTempRangeCalenderFormEditModal .modal-dialog .modal-body{
    padding: 0px;
}