@font-face {
  font-family: gilroy-regular;
  src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: gilroy-medium;
  src: url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: gilroy-bold;
  src: url(../fonts/Gilroy-SemiBold.ttf);
}

#select_optn {
  background: #ffffff;
  padding-bottom: 50px;
}

#select_optn .email_header_select {
  padding: 32px 0;
}

#select_optn .email_header_select p {
  font-size: 36px;
  font-family: gilroy-bold, sans-serif;
  font-weight: 600;
  color: #141414;
  letter-spacing: 2px;
  margin: 0px;
  text-align: center;
}

#select_optn .column {
  width: 20%;
}

#select_optn .system_stat {
  margin-left: auto;
}

#select_optn .contact_stat {
  margin-right: auto;
}

#select_optn .option_box {
  display: table;
  width: 210px;
  height: 260px;
  border-radius: 2px;
  border: 1px solid #959595;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  margin: auto;
  background: #f9f9f9;
}

#select_optn .option_box .option-content-box {
  display: table-cell;
  vertical-align: middle;
}

#select_optn .option_box img {
  width: 70px;
}

#select_optn .option_box p {
  font-size: 22px;
  color: #6b6b6b;
  font-weight: bold;
  font-family: gilroy-bold, sans-serif;
  letter-spacing: 2px;
  margin: 0;
  margin-top: 32px;
}

#select_optn .option_box p:last-child {
  margin-top: 0px;
}

#select_optn .option-content-box:hover {
  background: #dfdfdf;
}

#select_optn .option-content-box:hover p {
  color: #1d1d1d;
}

#select_optn .option-content {
  margin: 0;
  background-color: #f2f2f2;
}

/*======= Contact Status Style Starts ====== */
.contact-sp-container {
  background: #ffffff;
  padding: 50px 80px;
  margin: 0 10%;
}
.contact-sp-container .contact-sp-inner {
  margin: 0 10%;
}
.contact-sp-container .contact-sp-group {
  display: flex;
  margin-bottom: 8px;
}

.contact-sp-group .sp-width-100 {
  width: 100%;
  display: flex;
  height: 45px;
}
.contact-sp-group .sp-widthTextBox-100 {
  width: 100%;
  display: flex;
}

.contact-sp-group .sp-title,
.sp-widthTextBox-100 .sp-title {
  width: 200px;
}

.contact-sp-group .sp-input,
.sp-widthTextBox-100 .sp-textbox {
  width: calc(100% - 200px);
}

.contact-sp-group .sp-title p,
.sp-widthTextBox-100 .sp-title p {
  margin-bottom: 0;
  /* padding-top: 8px; */
  color: #a5a5a5;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
}

/* Custom Input Only Style Starts */
.contact-sp-group .sp-input .custom-input-only {
  background: #e6e6e6;
  position: relative;
  width: 100%;
  height: 40px;
  z-index: 3;
  border-radius: 6px;
}

.contact-sp-group .sp-input .custom-input-only input {
  background: #ffffff;
  color: #2e2c2c;
  outline: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  z-index: 2;
  padding: 5px 10px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
}
.contact-sp-group .sp-input .error-message p {
  font-size: 12px;
  color: red;
  padding-left: 4px;
}
/*  Custom Input styling Ends  */

.sp-widthTextBox-100 textarea {
  background: #ffffff;
  color: #2e2c2c;
  outline: 0;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  height: 175px;
  border-radius: 4px;
  padding: 5px 10px;
  border: 1px solid #d5d5d5;
}
.sp-widthTextBox-100 textarea:focus {
  outline: none;
}
.contact-sp-container .sp-button-row {
  margin-top: 40px;
  height: 70px;
}
.contact-sp-container .sp-button-row .reset,
.contact-sp-container .sp-button-row .submit {
  box-shadow: none;
  width: 200px;
  height: 100%;
  font-family: gilroy-medium, sans-serif;
  font-size: 32px;
  /* background: #e9e9e9; */
  background: #aaa;
  color: #ffffff;
  /* color: #7b7b7b; */
  transition: 150ms;
  outline: none;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

.contact-sp-container .sp-button-row .submit {
  /* background: #000000; */
  background: #2ecc40;
  color: #ffffff;
  /* color: #e6e6e6; */
  float: right;
}

.contact-sp-container .sp-button-row .reset:hover {
  /* background: #000000; */
  background: #919191;
  /* color: #e6e6e6; */
}

.contact-sp-container .sp-button-row .submit:hover {
  /* background: #e9e9e9; */
  background: #25a233;
  /* color: #7b7b7b; */
}

/* ====== Contact Status Style Ends ====== */

/* ====== System Status Style Starts ====== */
.system-status-container{
  background: #ffffff;
  padding: 50px;
  margin: 0 3%;
}
.system-status-container .status-row{
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}
.system-status-container .status-row:last-child{
  margin-bottom: 0px;
}
.system-status-container .status-row .status-grid{
  padding: 15px 0 10px 0;
  width: 33.33%;
  -webkit-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    -moz-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
}
.system-status-container .status-row .status-grid:not(:last-child){
  margin-right: 40px;
}
.status-grid .status-grid-cell{
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 8px 20px;
}

.status-grid .status-grid-cell .st-title{
  font-family: gilroy-medium, sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.status-grid .status-grid-cell .st-title span{
  margin-left: 10px;
}
.status-grid .status-grid-cell .st-title span i{
  opacity: 0.2;
}
.status-grid .status-grid-cell .st-title span i:hover{
  opacity: 1;
  cursor: pointer;
}
.status-grid .status-grid-cell .st-status{
  width: 100px;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  height: 30px;
  font-weight: 700;
  border-radius: 10px;
  color: #ffffff;
  font-family: gilroy-medium, sans-serif;
  font-size: 18px;
}
.status-grid .status-grid-cell .st-offline{
  background-color: #F70200;
}
.status-grid .status-grid-cell .st-disabled{
  background-color: #E5FE01;
  color: #000000;
}
.status-grid .status-grid-cell .st-ok{
  background-color: #137601;
}

/* ====== System Status Style Ends ====== */

/* ====== EMail Task Status Style Starts ====== */
/* ALERT TABLE DESIGN */
/* #mail_option_2 .task-status-table { */
#mail_option_2 {
  margin: 0 3%;
}

.task-status-table{
  background-color: #ffffff;
}

.task-status-table th,
.task-status-table td {
  border: none !important;
}

.task-status-table .table89 {
  border: 1px solid #dfe2e7 !important;
  margin: 0 !important;
}

.task-status-table .table89 thead {
  border-bottom: 1px solid #dfe2e7 !important;
}

.task-status-table .table89 td,
.task-status-table .table89 th {
  border-right: 1px solid #dfe2e7 !important;
}

.table89 thead th:nth-child(1) {
  width: 5%;
}

.table89 thead th:nth-child(2) {
  width: 20%;
}

.table89 thead th:nth-child(3) {
  width: 13%;
}

.table89 thead th:nth-child(4) {
  width: 15%;
}

.table89 thead th:nth-child(5) {
  width: 18%;
}

.table89 thead th:nth-child(6) {
  width: 18%;
}

.table89 thead th:nth-child(7) {
  width: 8%;
}

.table89 thead th {
  font-size: 14px;
  font-family: gilroy-bold, sans-serif;
  font-weight: 600;
  color: #9f9f9f;
  background: #fafafc;
  text-align: center;
}

.table89 thead th {
  position: relative;
}

.table89 .head-filter {
  position: absolute;
  height: 20px;
  width: 20px;
  background: #ffffff;
  top: 2px;
  right: 2px;
  cursor: pointer;
}

.table89 .head-filter i {
  color: #9f9f9f;
  font-size: 12px;
}

.table89 .drop-filter {
  position: absolute;
  height: 20px;
  width: 20px;
  background: #ffffff;
  top: 25px;
  right: 2px;
  cursor: pointer;
}

.table89 .drop-filter i {
  color: #9f9f9f;
  font-size: 16px;
}

.task-status-table .table89 tbody {
  font-size: 14px;
  font-family: gilroy-bold, sans-serif;
  text-align: center;
}

.task-status-table .table89 tbody td {
  text-align: center;
}

.task-status-table .table89 tr:nth-child(odd) {
  background: #f5f5f5;
}

.task-status-table .table89 td {
  height: 50px !important;
}

.task-status-table .table89 td:first-child {
  color: #222222;
  font-size: 18px;
}

/* Copied from style.css */
.task-status-table .table89 .row-data{
  font-size: 16px;
}
.task-status-table .table89 .records-count p {
  float: left;
  margin: 0;
  margin-left: 25px;
  font-size: 16px;
}

.task-status-table .table89 .save-name {
  width: 100%;
  padding: 1px 0px 1px 12px;
  color: #131313;
}

.task-status-table .table89 .save-name::placeholder {
  color: #131313;
}

.task-status-table .table89 .date-time-39 {
  display: flex;
  align-content: center;
}

.task-status-table .table89 .date-time-39 p{
  margin: 4px auto;
  font-size: 16px;
}
/* Copied from style.css */

.task-status-table .table89 .cross-box-89 {
  display: flex;
  justify-content: center;
}

.task-status-table .table89 .circle_550 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ffcdcd;
  position: relative;
  cursor: pointer;
}

.task-status-table .table89 .circle_550 i {
  position: absolute;
  color: #ff3535;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* RESPONSIVE MANAGE ALERT */
@media only screen and (max-width: 1250px) {
  /* #mail_option_2 .task-status-table {
      margin: 0 7%;
  } */

  /* .table89 thead th:nth-child(1) {
      width: 4%;
  }

  .table89 thead th:nth-child(2) {
      width: 18%;
  }

  .table89 thead th:nth-child(3) {
      width: 14%;
  }

  .table89 thead th:nth-child(4) {
      width: 18%;
  }

  .table89 thead th:nth-child(5) {
      width: 24%;
  }

  .table89 thead th:nth-child(6) {
      width: 22%;
  }

  .table89 thead th:nth-child(7) {
    width: 19%;
  } */

}
@media only screen and (min-width: 1500px) {
  /* #mail_option_2 .task-status-table {
      margin: 0 7%;
  } */

  /* .table89 thead th:nth-child(1) {
      width: 5%;
  }

  .table89 thead th:nth-child(2) {
      width: 20%;
  }

  .table89 thead th:nth-child(3) {
      width: 15%;
  }

  .table89 thead th:nth-child(4) {
      width: 18%;
  }

  .table89 thead th:nth-child(5) {
      width: 22%;
  }

  .table89 thead th:nth-child(6) {
      width: 20%;
  }

  .table89 thead th:nth-child(7) {
    width: 19%;
  } */

}

/* @media only screen and (min-width: 1600px) {
  #mail_option_2 .task-status-table {
      margin: 0 10%;
  }
}
@media only screen and (min-width: 1800px) {
  #mail_option_2 .task-status-table {
      margin: 0 12%;
  }
}
@media only screen and (min-width: 2000px) {
  #mail_option_2 .task-status-table {
      margin: 0 14%;
  }
} */
/* ====== EMail Task Status Style Ends ====== */

/* ========================================== */
/* pop-up-for-table-header-click style starts */
#dropBtnModal .modal-content {
    width: 250px;
    border: 0;
    border-radius: 0 !important;
}

#dropBtnModal .modal-content .modal-body{
  padding: 0;
  border-radius: 0 !important;
}

#dropBtnModal .modal-dialog {
  position: absolute;
  min-height: 0;
  margin: 0;
}

.table-header-click-popup {
    width: 250px;
    height: 370px;
    /* -webkit-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    -moz-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
    box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75); */
    -webkit-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
}

.table-header-popup-header-title {
    background-color: #000;
    text-align: center;
    height: 60px;
    width: 100%;
    line-height: 60px;
}

.table-header-popup-header-title p {
    padding-bottom: 0;
    text-transform: uppercase;
    font-family: gilroy-medium;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
}

.table-header-popup-body {
    width: 100%;
    height: 100%;
    padding: 10px 14px;
}

.find-sort-wrapper {
    width: 100%;
    display: flex;
    padding: 0px;
}

.find-wrapper {
    display: flex;
    width: 80%;
    border: 1px solid rgb(219, 218, 218);
    border-radius: 3px;
    margin-right: 3px;
    padding: 3px;
}

.sort-wrapper {
    width: 25%;
    text-align: center;
    padding: 3px;
}

.find-wrapper input[type="text"] {
    width: 75%;
    height: 100%;
    outline: 0;
    border-radius: 0;
    border: none;
}

.find-wrapper input[type="submit"],
.sort-wrapper input[type="submit"] {
    float: right;
    width: 25%;
    height: 100%;
    font-family: gilroy-medium, sans-serif;
    font-weight: 600;
    font-size: 14px;
    background: #f2f3f6;
    color: #000000;
    transition: 150ms;
    outline: 0;
    border: 0;
    border-radius: 2px;
    -webkit-appearance: none;
}

.sort-wrapper input[type="submit"] {
    width: 100%;
}

.find-wrapper input[type="submit"]:hover,
.sort-wrapper input[type="submit"]:hover {
    background: #000000;
    color: #e6e6e6;
}

.table-header-popup-footer .button-row {
    display: table;
    margin: auto;
    margin-top: 4px;
}

.table-header-popup-footer .button-row .close-btn,
.table-header-popup-footer .button-row .select-btn {
    font-family: gilroy-medium, sans-serif;
    font-weight: 600;
    font-size: 14px;
    background: #e9e9e9;
    color: #3d3d3d;
    transition: 150ms;
    outline: none;
    border: 0 none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 16px;
}

.table-header-popup-footer .button-row .close-btn {
    margin-right: 5px;
}

.table-header-popup-footer .button-row .select-btn {
    margin-left: 5px;
}

.table-header-popup-footer .button-row .close-btn:hover,
.table-header-popup-footer .button-row .close-btn:focus,
.table-header-popup-footer .button-row .select-btn:hover,
.table-header-popup-footer .button-row .select-btn:focus {
    background: #000000;
    color: #e6e6e6;
}

/* =================================== */
/* checkbox wraper table style starts  */
.checkbox-content-wrapper {
    margin-top: 10px;
    width: 100%;
    height: 200px;
    border-radius: 3px;
    overflow-y: scroll;
    border: 1px solid rgb(219, 218, 218);
}

#checkbox-table-exist td,
#checkbox-table-first td {
    word-wrap: break-word;
    padding: 6px 0px 0px 10px;
}

.checkbox-table-scroll {
    /* height: 276px; */
    width: 100%;
    margin: 0px auto;
}

.checkbox-table-wrapper table {
    width: 100%;
}

.checkbox-table-wrapper table * {
    /* background: white; */
    color: black;
}

.checkbox-table-scroll tr:nth-child(even) {
    background-color: #ffffff !important;
}

.checkbox-table-scroll tr:nth-child(odd) {
    background-color: #fbfbfb !important;
}

/* ........................... */
/* Custom ScrollBar  Start*/
.checkbox-content-wrapper::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.checkbox-content-wrapper::-webkit-scrollbar-track {
    box-shadow: transparent;
    border-radius: 10px;
}

/* Handle */
.checkbox-content-wrapper::-webkit-scrollbar-thumb {
    background: #dfd9d9;
    border-radius: 10px;
}
/* Custom ScrollBar Ends  */
/* ........................... */

/* ........................... */
/* Custom Check Box Starts  */
/* .page__toggle {
  margin: 0 8px;
} */
.popup__checkbox__toggle {
    display: inline-flex;
    position: relative;
    margin-bottom: 0;
}

/* this hides the main checkbox */
.popup__checkbox__toggle__input {
    width: 20px;
    height: 20px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.popup__checkbox__toggle__label {
    display: inline-flex;
    min-height: 28px;
    /* height: 24px; */
    /* font-size: 14px; */
    padding-left: 36px;
}

.popup__checkbox__toggle__input:not(:disabled)~.popup__checkbox__toggle__label {
    cursor: pointer;
}

/* this is for box */
.popup__checkbox__toggle__label::after {
    content: "";
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    /* font-size: 32px; */

    /* background-color: #d0d0d0; */
    border: 2px solid #d0d0d0;

    position: absolute;
    top: 2px;
    left: 5px;
    /* z-index: 2; */
}

.popup__checkbox__toggle__input:checked~.popup__checkbox__toggle__label::after {
    background-color: #25d34f;
    border: 0;
    box-shadow: 5px 5px 5px 4px rgba(140, 245, 80, 0.2);
}

.popup__checkbox__toggle__text {
    font-family: gilroy-medium, sans-serif;
    font-weight: 600;
    font-size: 14px;
    font-weight: 500;
    color: #080808;
    margin: auto 0;
}

/* this is for tik sign */
.popup__checkbox__toggle__label::before {
    content: "";
    width: 0;
    height: 0;
    /* font-size: 10px; */

    border-left-width: 0;
    border-bottom-width: 0;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: #fff;

    position: absolute;
    top: 13px;
    left: 8px;
    z-index: 3;

    transform-origin: left top;
    transform: rotate(-40deg) skew(10deg);
}
.popup__checkbox__toggle__input:checked~.popup__checkbox__toggle__label::before {
    width: 12px;
    height: 6px;
    border-left-width: 2px;
    border-bottom-width: 2px;
}
.popup__checkbox__toggle__label::after {
    border-radius: 4px;
}

/* Custom Check Box Ends  */

/* pop-up-for-table-header-click style ends */
/* ==============XXXXXXXXXXXXXX============== */


/* REMOVE LIST ITEM MODAL START */
.delete-list-item .modal-dialog {
  max-width: 330px !important;
}

.delete-list-item .modal-content {
  border: none;
  border-radius: 3px;
  /* -webkit-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
  -moz-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
  box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75); */
  -webkit-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
}

.delete-list-item .modal-header {
  background: #000000;
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
}

.delete-list-item .modal-title {
  color: #ffffff;
  text-align: center;
  font-family: gilroy-medium, sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin: 0 auto;
}

.delete-list-item .close {
  position: absolute;
  color: #ffffff;
  padding: 0;
  margin: 0;
  top: 5px;
  right: 10px;
  opacity: 1;
}

.delete-list-item .close span {
  color: #ffffff;
  font-size: 26px;
  text-shadow: none;
}

.delete-list-item .modal-body {
  padding: 0px;
}

.delete-list-item .remove-box {
  padding: 25px;
}

.delete-list-item .remove-box .question-delete {
  border: 1px solid #969696;
  border-radius: 3px;
  background: #F9F9FB;
  padding: 24px 0px;
}

.delete-list-item .remove-box .question-delete p {
  color: #787878;
  text-align: center;
  font-family: gilroy-medium, sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}

.delete-list-item .remove-box .comfirm-btn-bx {
  margin-top: 25px;
}

.delete-list-item .comfirm-btn-bx button {
  border: none;
  border-radius: 2px;
  padding: 8px 25px;
  color: #1D1D1D;
  font-family: gilroy-medium, sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.delete-list-item .comfirm-btn-bx .cancel-list-data {
  background: #FFF000;
}

.delete-list-item .comfirm-btn-bx .cancel-list-data:hover {
  background: #fccf07;
}

.delete-list-item .comfirm-btn-bx .confirm-list-data {
  background: #EAECF0;
  float: right;
}

.delete-list-item .comfirm-btn-bx .confirm-list-data:hover {
  background: #c6cdd8;
}
/* REMOVE LIST ITEM MODAL END */


/* ================================================ */
/* thank you pop-up-for-generate button style starts */
.generate-button-click-popup {
  width: 358px;
  height: 265px;
  /* -webkit-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
  -moz-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
  box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75); */
  -webkit-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 1);
}

.generate-button-popup-header-title {
  background-color: #000;
  color: #fff;
  text-align: center;
  height: 65px;
  width: 100%;
  line-height: 65px;
}

.generate-button-popup-header-title p {
  padding-bottom: 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.generate-button-popup-body-content {
  margin: 15px 25px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid grey;
  background-color: #f9f9fb;
}

.generate-button-popup-body-content p {
  margin: 0;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 500;
  color: #787878;
}

.generate-button-click-popup-wrapper .generate-popup {
  margin-top: 5px;
  margin-right: 25px;
  float: right;
}

.generate-button-click-popup-wrapper .generate-popup .gn-close-btn {
  width: 110px;
  font-size: 18px;
  background: #e9e9e9;
  color: black;
  font-weight: bold;
  transition: 150ms;
  outline: none;
  border: 0 none;
  border-radius: 2px;
  cursor: pointer;
  padding: 6px 0px;
}

.generate-button-click-popup-wrapper .generate-popup .gn-close-btn:hover,
.generate-button-click-popup-wrapper .generate-popup .gn-close-btn:focus {
  background: #000000;
  color: #e6e6e6;
}

#emailThankModal .modal-dialog{
  width: 360px;
  border: 0;
  border-radius: 0 !important;
}

#emailThankModal .modal-content .modal-body {
  padding: 0;
  border-radius: 0 !important;
}

/* thank you pop-up-for-generate button style ends */
/* ===================XXXXXXXXXXX================= */


/* ==================================== */
/* Forcing Modal To Be Acting Like Actual Modal After Hide of The First Modal (Confirm Box Modal) */
.modal-force-open{
  overflow:hidden !important;
  padding-right: -17px !important;
}
.modal-force-open .modal{
  overflow-x:hidden !important;
  overflow-y:auto !important;
}

i.fa-caret-down.down-animation-icon{
    transform: rotate(-180deg);
}

/* =============XXXXXXXXX============== */


/* ======== PAGINATION START ========*/
.pagination-table {
  margin: 36px 0;
}

.width-pagination {
  display: flex;
}
.width-row-go {
  display: flex;
  width: 18%;
}
.pagination-table .paginationjs {
  display: flex;
  width: 82%;
}
.pagination-table .paginationjs .paginationjs-pages {
  width: 100%;
}
.pagination-table .paginationjs .paginationjs-pages ul {
  display: flex;
  justify-content: center;
  margin-right: 7%;
}
.pagination-table .paginationjs .paginationjs-page:not(:last-child) {
  margin: 0 10px;
}
.pagination-table .paginationjs .paginationjs-page,
.pagination-table .paginationjs .paginationjs-prev,
.pagination-table .paginationjs .paginationjs-next,
.pagination-table .paginationjs .paginationjs-ellipsis {
  text-decoration: none;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff !important;
  border: 1px solid #dbe2f5 !important;
  display: flex;
  font-size: 22px;
  color: #545d7a !important;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.pagination-table .paginationjs .paginationjs-pages ul li a {
  color: #545d7a;
  text-decoration: none !important;
}
.pagination-table .paginationjs .paginationjs-pages ul li.active a {
  color: #fff !important;
}
.pagination-table .paginationjs .paginationjs-pages ul li a:hover {
  color: #fff !important;
}
.pagination-table .paginationjs .paginationjs-pages ul li.paginationjs-prev a:hover,
.pagination-table .paginationjs .paginationjs-pages ul li.paginationjs-next a:hover {
  color: #000000 !important;
}
.pagination-table .paginationjs .paginationjs-ellipsis {
  line-height: 20px !important;
  font-size: 40px !important;
  font-weight: 900 !important;
  margin: 0 10px;
}

.pagination-table
  .paginationjs
  .paginationjs-pages
  ul
  li.paginationjs-ellipsis
  a {
  padding-bottom: 22px;
  color: #000000 !important;
}
.pagination-table
  .paginationjs
  .paginationjs-pages
  ul
  li.paginationjs-ellipsis
  a:hover {
  color: #000000 !important;
}
.pagination-table .paginationjs .paginationjs-prev {
  margin-right: 40px;
  font-size: 24px;
  color: #cccccc;
}

.pagination-table .paginationjs .paginationjs-next {
  font-size: 24px;
  margin-left: 40px;
  color: #cccccc;
}

.pagination-table .paginationjs .paginationjs-prev:hover,
.pagination-table .paginationjs .paginationjs-next:hover {
  background: #ffffff !important;
  color: #000000 !important;
}

.pagination-table .paginationjs .paginationjs-page:hover {
  color: #fff !important;
  background-color: #1d1d1d !important;
  filter: drop-shadow(10.5px 18.187px 10.5px rgba(51, 56, 72, 0.23));
}
.pagination-table .paginationjs ul li.active {
  color: #fff !important;
  background-color: #1d1d1d !important;
  filter: drop-shadow(10.5px 18.187px 10.5px rgba(51, 56, 72, 0.23));
}

.pagination-table .paginationjs .paginationjs-go-button {
  line-height: 45px;
  text-align: center;
}

.pagination-table .paginationjs .paginationjs-go-button input {
  font-family: "gilroy-medium", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #545d7a;
  border: none;
  outline: none;
}

.pagination-table input#row_taskStatus,
.pagination-table .paginationjs .paginationjs-go-input input {
  width: 60px;
  height: 43px;
  border-radius: 2px;
  text-align: center;
  margin-right: 10px;
  filter: drop-shadow(8.5px 14.722px 17.5px rgba(95, 84, 233, 0.14));
  background-color: #ffffff;
  border: 1px solid #dde3f5;
  font-family: gilroy-medium, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #545d7a;
}

@media screen and (max-width: 1250px) {
  .pagination-table .paginationjs .paginationjs-pages ul {
    margin-right: 3%;
  }
}
@media screen and (max-width: 1120px) {
  .width-row-go {
    width: 22%;
  }
  .pagination-table .paginationjs {
    width: 78%;
  }
  .pagination-table .paginationjs .paginationjs-pages ul {
    margin-right: 3%;
  }
  .pagination-table .paginationjs .paginationjs-prev {
    margin-right: 15px;
  }
  .pagination-table .paginationjs .paginationjs-next {
    margin-left: 15px;
  }
}

@media screen and (max-width: 950px) {
  .width-row-go {
    display: flex;
    width: 10%;
  }
  .pagination-table .paginationjs {
    display: flex;
    width: 90%;
  }
  .pagination-table .paginationjs .paginationjs-pages ul {
    margin-right: 0px;
  }
  .pagination-table .paginationjs .paginationjs-page:not(:last-child) {
    margin: 0 5px;
  }
  .pagination-table .paginationjs .paginationjs-ellipsis {
    margin: 0 5px;
  }
  .pagination-table .paginationjs .paginationjs-prev {
    margin-right: 10px;
  }
  .pagination-table .paginationjs .paginationjs-next {
    margin-left: 10px;
  }
  .pagination-table input#row_taskStatus,
  .pagination-table .paginationjs .paginationjs-go-input input {
    width: 50px;
    height: 35px;
    margin-right: 8px;
  }
  .pagination-table .paginationjs .paginationjs-go-button {
    line-height: 38px;
  }
}

.th-dis-none {
    display: none;
}

.task-status-table .progress {
  position: relative;
  height: 28px;
}
.task-status-table .progress .progress-bar{
  background-color: #5cb85c;
}
.task-status-table .progress span {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
  font-size: 16px;
  font-family: gilroy-bold, sans-serif;
  font-weight: 600;
}

.task-status-table td .st-status{
  width: 100%;
  text-align: center;
  line-height: 30px;
  height: 30px;
  font-weight: 700;
  border-radius: 10px;
  color: #ffffff;
  font-family: gilroy-medium, sans-serif;
  font-size: 18px;
}

.task-status-table td .st-cancelled{
  background-color: #F70200;
}
.task-status-table td .st-pending{
  background-color: #FFF001;
  color: #000000;
}
.task-status-table td .st-inProgress{
  background-color: #5cb85c;
}
.task-status-table td .st-completed{
  background-color: #0A08FE;
}

.task-status-content-wrapper .task-status-statistics{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.task-status-statistics .stat-box{
  width: calc(25% - 60px);
  height: 150px;
  background-color: #ffffff;
  border-radius: 4px;

  -webkit-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
  -moz-box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
  box-shadow: 5px 5px 10px -4px rgba(51, 51, 51, 0.75);
}

.task-status-statistics .stat-box.stat-cancelled{
  color: #F70200;
}
.task-status-statistics .stat-box.stat-pending{
  color: #FFF001;
  color: #000000;
}
.task-status-statistics .stat-box.stat-inProgress{
  color: #5cb85c;
}
.task-status-statistics .stat-box.stat-completed{
  color: #0A08FE;
}

.task-status-statistics .stat-box p.stat-title{
  margin: 0;
  text-align: center;
  font-weight: 900;
  font-family: gilroy-bold, sans-serif;
  font-size: 40px;
  line-height: 70px;
}
.task-status-statistics .stat-box p.stat-number{
  margin: 0;
  text-align: center;
  font-weight: 1400;
  font-family: gilroy-bold, sans-serif;
  font-size: 64px;
  line-height: 60px;
}