/* @font-face {
    font-family: gilroy-regular;
    src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: gilroy-medium;
    src: url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
    font-family: gilroy-bold;
    src: url(../fonts/Gilroy-SemiBold.ttf);
} */


* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: #f0f0f0;
    font-family: gilroy-regular, sans-serif;
    /* overflow: hidden; */
}

.wrapper .tabs ul li.active {
    border-bottom: none;
}

#login-section {
    width: 95%;
    position: relative;
    background: #ffffff;
    margin: 32px auto;
    padding: 100px 0;
}

#login-section .login-form {
    /* position: absolute; */
    width: 600px;
    height: 315px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #f0f0f0;
    box-shadow: 5px 5px 10px -4px rgb(51 51 51 / 75%);
}

.login-form .login-title {
    background: #000000;
}

.login-title p {
    font-size: 24px;
    color: #ffffff;
    font-weight: 500;
    font-family: gilroy, sans-serif;
    margin: auto;
    text-transform: uppercase;
    padding: 10px 0;
    letter-spacing: 2px;
}

.login-form .login-input div#loginForm {
    padding-top: 25px;
}

.login-input .myinput {
    width: 500px;
    height: 50px;
    margin-bottom: 25px;
    background-color: #f0f0f0;
    border: 2px solid #000000;
    border-radius: 3px;
    padding-left: 20px;
    font-size: 20px;
    color: #7d7c7c;
    font-weight: 600;
    font-family: gilroy-regular, sans-serif;
}

.login-input input:focus {
    outline: none;
}

.login-input .button-box a, .login-input .button-box .login {
    font-size: 22px;
    font-weight: 600;
    font-family: gilroy-medium, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 2px;
}

.login-input .button-box .reset {
    background-color: #dddddd;
    color: #7d7c7c;
    padding: 12px 35px;
}

.login-input .button-box .login{
    padding: 14px 30px;
    background-color: #fff011;
    color: #272727;
    border: none;
}

.login-input .button-box .reset:hover{
    background-color: #cfcdcd;
    color: #4e4e4e;
}

.login-input .button-box .login:hover{
    background-color: #ffee00;
    color: #000000;
}

a:link,
a:visited {
    text-align: center;
    text-decoration: none;

}


/* ========== PAGE AFTER LOGIN ========== */

#tc-section{
    width: 95%;
    position: relative;
    background: #ffffff;
    margin: 32px auto;
    padding: 20px 0;
}
.terms_conditions .tc-head{
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font-family: gilroy-medium, sans-serif;
    color: #000000;
}

.terms_conditions .text-box44545{
    width: 80%;
    margin: 0 auto;
}
.terms_conditions .after-login-text{
    width: 100%;
    height: 350px;
    margin: 16px auto 0;
    overflow-y: scroll;
    border: 3px solid #848484;
    border-radius: 5px;
    padding: 16px;
    font-size: 18px;
    font-weight: 500;
    font-family: gilroy-medium, sans-serif;
    color: #000000;
}
/*  Text box scrollbar customize start */
.after-login-text::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.after-login-text::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #919191;
    border-radius: 10px;
}

/* Handle */
.after-login-text::-webkit-scrollbar-thumb {
    background: #919191;
    border-radius: 15px;
}

/* Handle on hover */
.after-login-text::-webkit-scrollbar-thumb:hover {
    background: #616161;
}

/* Text box scrollbar customize end */

.terms_conditions .tc-outerbox{
    width: 80%;
    height: 350px;
    margin: 16px auto 0;
    overflow-y: scroll;
    border: 3px solid #848484;
    border-radius: 5px;
    padding: 16px;
}
.terms_conditions .tc-outerbox p{
    font-size: 18px;
    font-weight: 500;
    font-family: gilroy-medium, sans-serif;
    color: #000000;
}
.terms_conditions .tic-box{
    display: flex;
    margin: 16px 0;
    justify-content: center;
}

.terms_conditions .tic-box input {
    height: 25px;
    width: 25px;
    border: 2px solid #000000;
    outline: none;
    transition-duration: 0.3s;
    background-color: #ffffff;
    cursor: pointer;
}
.terms_conditions .tic-box p{
    margin: 0;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 600;
    font-family: gilroy-medium, sans-serif;
    color: #1b1b1b;
}
.terms_conditions .accept-btn-box{
    width: 80%;
    margin: auto;
    display: flex;
}

.terms_conditions .accept-btn-box input{
    padding: 10px 30px;
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: 600;
    font-family: gilroy-medium, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}
.terms_conditions .accept-btn-box .decline{
    background-color: #ff0000;
}
.terms_conditions .accept-btn-box .accept{
    background-color: #3A5D00;
    margin-left: auto;
}
.terms_conditions .accept-btn-box .decline:hover{
    background-color: #f10000;
}
.terms_conditions .accept-btn-box .accept:hover{
    background-color: #375800;
}

/* scrollbar customize start */
.tc-outerbox::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.tc-outerbox::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #919191;
    border-radius: 10px;
}

/* Handle */
.tc-outerbox::-webkit-scrollbar-thumb {
    background: #919191;
    border-radius: 15px;
}

/* Handle on hover */
.tc-outerbox::-webkit-scrollbar-thumb:hover {
    background: #616161;
}

/* scrollbar customize end */